Repository anvil-works/routing, pull requests merged in 2024-11, with the labels that each got.

#32 Support auto-close on dismissible alerts and prevent navigation otherwise
  .ruff.toml
  client_code/router/__init__.py
  client_code/router/_alert.py
  docs/api-reference.md
  docs/navigating/blocking-navigation.md
Labels: type: docs, type: feature

#33 fix dismissible default argument for alerts/confirm
  client_code/router/_alert.py
Labels: type: bug

#35 Fix - alert is not available on the server
  client_code/router/_alert.py
Labels: type: bug

#43 Add documentation for `add_event_handler` uses, including migration from hash routing
  docs/api-reference.md
  docs/migrating/index.md
Labels: type: docs

#45 Added more migration documentation about advanced usage of anvil_extras routing
  docs/migrating/index.md
Labels: type: docs

#44 Document callable query argument to navigate and navlink
  docs/navigating/index.md
  docs/navigating/navigation-components.md
Labels: type: docs
